.nav {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px 30px;
}

.search {
  width: 480px;
  height: 60px;
  margin-right: 14px;
  padding: 16px;
  background: #ffffff;
  border: none;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #acacac;
}

.search:focus {
  outline: none;
}

.search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acacac;
}
.search::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac;
}
.search:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
.search:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac;
}

.smile-btn {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-right: 35px;
  border-radius: 12px;
  background: #ffffff no-repeat 80% 50% url('../../assets/chevron-down.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.smile-btn > img {
  margin: 18px 20px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 30px;
}

.note {
  position: relative;
  width: 325px;
  height: 280px;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
}

.note:hover {
  cursor: pointer;
}

.note > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 65px;
  padding: 12px 14px 10px 14px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);

  color: #1e2022;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.info-titel {
  margin: 0 0 6px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.info-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
}

.info-description {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
