* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fdfcf3;
}

.app-root {
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 40px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  margin-right: 18px;
  background: radial-gradient(
    100% 100% at 0% 0%,
    #adce74 25%,
    #fff76a 71.88%,
    #ffce89 100%
  );
}

h1 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #1e2022;
}

.buttons-block {
  display: flex;
}

.common-btn {
  width: 166px;
  height: 40px;
  padding-left: 40px;
  border: none;
  border-radius: 12px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.common-btn:focus {
  outline: none;
}

.change-display-btn {
  color: #1e2022;
  background: #ffce89 no-repeat 32% 50% url('./assets/display-notes.png');
}

.add-note-btn {
  color: #ffffff;
  background: no-repeat 20% 50% url('./assets/add-note.png'),
    linear-gradient(135deg, #61b15a 0%, #adce74 100%);
}

@media only screen and (max-width: 1440px) {
  .app-root {
    width: 100vw;
  }

  .header {
    padding: 30px 80px 20px 80px;
  }

  .nav {
    justify-content: space-around;
    order: 3;
  }

  .nav > .search {
    width: 744px;
  }

  .nav > .smile-btn {
    margin: 0;
  }

  .note {
    width: 422px;
    height: 364px;
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    justify-content: space-between;
  }

  .nav > .search {
    width: 60vw;
    height: 40px;
  }

  .nav > .smile-btn {
    width: 80px;
    height: 40px;
  }

  .smile-btn > img {
    margin: 10px 0 0 15px;
  }

  .notes {
    padding: 0 70px;
  }

  .note {
    width: 300px;
    height: 260px;
  }

  .info-description {
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 740px) {
  .header {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .logo-link {
    width: 40px;
    height: 40px;
  }

  .logo-link > img {
    width: 15px;
    height: 19px;
  }

  .buttons-block {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-bottom: 30px;
  }

  .common-btn {
    width: 135px;
    height: 30px;
    padding: 0;
    font-size: 2px;
    color: transparent;
  }

  .change-display-btn {
    background-position: center;
  }

  .add-note-btn {
    background-position: center;
  }

  .notes {
    justify-content: center;
    padding: 0;
  }
}

@media only screen and (max-width: 340px) {
  .nav > .search {
    width: 190px;
    height: 40px;
  }

  .note {
    width: 278px;
    height: 240px;
  }
}
